
.myOwnDog{

  width: 500px;
  height:650px;
    border: 2px solid rgb(14, 61, 203);
    border-radius: 10px;
    background-color: rgb(142, 7, 54);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: coral;
  }

  
  /* .dogCardContainer{
   
      border: 2px solid rgb(14, 61, 203);
      border-radius: 10px;
      margin: 10px;
      background: rgb(15,15,64);
      background: linear-gradient(0deg, rgba(15,15,64,1) 16%, rgba(89,49,16,0.9051995798319328) 51%, rgba(182,52,174,0.7847514005602241) 100%);
      width: 300px;
      height: 530px;
     
    


     
     
   
  } */

  .dogCardContainer {
    -webkit-animation: sqrA 1s ;
            animation: sqrA 1S ;
            border: 2px solid rgb(14, 61, 203);
      border-radius: 10px;
      margin: 10px;
      background: rgb(15,15,64);
      background: linear-gradient(0deg, rgba(15,15,64,1) 16%, rgba(89,49,16,0.9051995798319328) 51%, rgba(182,52,174,0.7847514005602241) 100%);
      width: 300px;
      
    }
    
    
    @keyframes sqrA {
      from {
        -webkit-transform: scale(0.5)
                
      }
      to {
        -webkit-transform: scale(1)
                
      }
    }
     
    
       
    
    
    
    
 

      
 
  
  
 /*  .dogCardContainer:hover{
 transform: scale(110%); 
 z-index: 20; 

transform: rotate(0)S


  } */

  
    .dogRace{
      margin: auto;
      color: yellow;
     
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
    }
    .dogRace1{
     border: 1px solid black;
     

  
    }
   
   
    
    
     .dogWeight{
      font-size: 25px;
      color: darkkhaki;

     }
     h2{
      color: chartreuse;
      font-size: 28px;
     }
     h3{
      color: aqua;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inherit;
     }
     
  
   
   
  


   
 
  
 







 
 
 
 
 
 
 
 
