*{
    margin: 0;
    padding: 0;
}

.landingBackground{

    background-image: url(../../images/landing.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display:  flex;
    flex-direction: row;
    justify-content: center;
   
   
    
}
.lets-go-icon{
    width: 20%;
    height: 25%;
    text-align: center;
}
.icons-container{
    width: 50%;
    display:  flex;
    
    justify-content: center;
    align-content: center;
   
} 
    
   
   
   