

.landingBackground{

    background-image: url(../../images/landing.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display:  flex;
    flex-direction: column;
    justify-content: center;
   
   
    
}

.enterIcon{ 
  margin-top:500px;
 border:2px solid red;
    width: 80px;
    height:80px;
    text-align: right;
    box-shadow: rgba(7, 216, 49, 0.4) 0px 30px 90px;
}
.icons-container{
    width: 20%;
    display:  flex;
    margin-left: 40%;
    margin-top: 20%;
   
    align-content: center;
   
} 
.welcome-greating{
    color: white;
    font-size: 100px ;
  }
    .greatings-container{
        padding: 15px;
       
text-align: left;
    }


img{
  width:200px;
  height: 200px;
  position: relative;
}
   
   
   