.paginationNav{
    border: 1px solid black;
display: flexbox;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: red;



}
.pageButton{

    border: 1px solid white;
    border-radius: 1px;
   
}
.pageButton:hover{
    transition-duration: 0.5s;
    width: 150%;
    height: 150%;
    margin: auto;
}
.liStyle{

    list-style: none;
}
ul li{
    display: block;
  
  text-align: center;
  padding: 5px;
}
ul li :hover{
    color: white;
    background-color: black;
   

}
ul{
    display: flex;
}